.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container__content {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttonBack {
  display: flex;
  align-items: center;
}

.buttonBack span {
  margin-right: 1rem;
}

.container__content form {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.container__content form fieldset {
  border: 0;
  width: 100%;
}

.container__content form fieldset h2 {
  color: var(--darkPurple);
  margin: 2rem 0;
}

.inputPoint {
  margin: 1rem 0;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
  width: 100%;
}

.fieldsetAdress,
.fieldsetItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaflet_container {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.inputPointUF {
  flex: 1;
}
.inputPointCity {
  flex: 5;
  margin-left: 1rem;
}

.listItemsGrid {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.listItemsGrid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  padding: 2rem 1.5rem 1rem;
  text-align: center;
  height: 180px;
  cursor: pointer;
  transition: border 0.5s;
}

.listItemsGrid__item span {
  flex: 1;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.listItemsGrid__itemSelected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
  transition: border 1s;
}

.button {
  width: 260px;
  height: 56px;
  background: var(--green);
  border-radius: 8px;
  color: #fff;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
  font-family: Roboto;
}

.button:hover {
  background: #2fb86e;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .header {
    display: block;
  }

  .container__content {
    padding: 0;
  }
  .container__content form {
    margin: 2rem 0rem;
    padding: 0rem;
    text-align: center;
  }
  .fieldsetAdress,
  .fieldsetItems {
    display: block;
  }

  .listItemsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .button {
    align-self: center;
  }
}
