.home__container {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

.home__content {
  background-image: url(../../assets/home-background.svg);
  background-repeat: no-repeat;
  background-position: 400px 100px;
  height: 100%;
  padding: 2rem;
}

.content header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main h1 {
  font-family: Ubuntu;
  color: var(--darkPurple);
  font-size: 3.37rem;
  margin: 0 0 1rem 0;
}

main p {
  margin-top: 0px;
  color: var(--lightPurple);
  font-family: Roboto;
  font-size: 24px;
  margin-top: 24px;
  line-height: 38px;
}

.search__container {
  width: 23vw;
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: var(--green);
  border-radius: 8px;
  padding: 0 0.5rem;
  max-width: 205px;
}

.search__item {
  stroke: white;
  width: 35%;
  height: 55%;
}

.search__description {
  font-size: 1.2rem;
  line-height: normal;
  color: white;
  margin: 0;
}
