@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

:root {
  --green: #34cb79;
  --darkPurple: #322153;
  --lightPurple: #6c6c80;
}

* {
  font-family: Ubuntu;
  color: var(--darkPurple);
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
